#inputCalculadora{
    font-size: 1.5rem;
    width: 100%;
    text-align: right;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
h1{
    font-size: 1.5rem;
    margin-top: 1.875rem;
    text-align: center;
}
.areaCalculadora{
    max-width: 300px;
    margin: 0 auto;
}
.row div{
    padding: 0;
}
.row div button{
    width: 100%;
}